streamlit
tensorflow==2.12.0
numpy  # Compatibel met TensorFlow 2.12.0
sounddevice
pyaudio  # Voor audio-opnames (nodig voor sommige systemen)
librosa
scipy
pandas
soundfile
opencv-python
tensorflow-keras
Pillow
